.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f26837; /* Change the background color */
    padding: 0px 50px; /* Add padding to create space around the content */
    border-radius: 40px; /* Apply border-radius for rounded edges */
    box-shadow: 0 0 12px 8px rgba(255, 106, 0, 0.5); /* Orange ombre effect */
  }


.left_nav {
  display: flex;
  align-items: center; /* Center items vertically */
}

/* Adjustments for logo */
.left_nav img {
  max-width: 100px; /* Adjust the maximum width of the logo */
  height: auto; /* Allow the height to adjust proportionally */
}

.left_nav h3 {
  display: inline; /* or inline-block */
  margin-left: 0px; /* Add some margin between the logo and the text */
  color: white; /* Adjust text color as needed */
}

/* Styles for links */
.navbar a {
  color: white; /* Change link color as needed */
  text-decoration: none;
  margin: 0 10px; /* Add margin between links */
}

/* Hover effect for links */
.navbar a:hover {
  text-decoration: underline; /* Add underline effect on hover */
}
