/* TicTacToe.css */
.square {
    background: #fff;
    color: #000; /* Set text color to black */
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 100px;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .game-info {
    margin-left: 20px;
    color: #fff; /* Set text color to white */
  }
  